{% extends 'attendance/base.html' %} {% block title %}Clock In{% endblock %}
{% load crispy_forms_tags %} 
{% block content %}
{% load tz %}
<h2>Clock in</h2>
<p>Date: {% now "d-m-Y" %}<p>
<p>Time: {% now "H:i" %}
<form method="post">
    {% csrf_token %}{{form|crispy}}
    <label for='role'>Role:</label><br>
    <select name='role' id='role'>
        <option value='scoreboard'>Scoreboard</option>
        <option value="paperscorer">Paper Scorer</option>
        <option value="camera">Camera Operator</option>
        <option value="onlinescorer">Online Scorer</option>
        <option value="gamechange">Game Changer</option>
        <option value="subtime">Sub timer</option>
    </select><br>
    <input type="submit" value="Clock in">
</form>
{% endblock %}